@font-face {
    font-family: 'Light';
    src: url('HelveticaNeueLTW1G-Lt.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeueLTW1G-Lt.otf')  format('opentype'),
    url('HelveticaNeueLTW1G-Lt.woff') format('woff'), url('HelveticaNeueLTW1G-Lt.ttf')  format('truetype'), url('HelveticaNeueLTW1G-Lt.svg#HelveticaNeueLTW1G-Lt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roman';
    src: url('HelveticaNeueLTW1G-Roman.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeueLTW1G-Roman.otf')  format('opentype'),
    url('HelveticaNeueLTW1G-Roman.woff') format('woff'), url('HelveticaNeueLTW1G-Roman.ttf')  format('truetype'), url('HelveticaNeueLTW1G-Roman.svg#HelveticaNeueLTW1G-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Medium';
    src: url('HelveticaNeueLTW1G-Md.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeueLTW1G-Md.otf')  format('opentype'),
    url('HelveticaNeueLTW1G-Md.woff') format('woff'), url('HelveticaNeueLTW1G-Md.ttf')  format('truetype'), url('HelveticaNeueLTW1G-Md.svg#HelveticaNeueLTW1G-Md') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bolds';
    src: url('HelveticaNeueLTW1G-Bd.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeueLTW1G-Bd.otf')  format('opentype'),
    url('HelveticaNeueLTW1G-Bd.woff') format('woff'), url('HelveticaNeueLTW1G-Bd.ttf')  format('truetype'), url('HelveticaNeueLTW1G-Bd.svg#HelveticaNeueLTW1G-Bd') format('svg');
    font-weight: normal;
    font-style: normal;
}