
.body-hidden {
    position: relative;
}

.body-hidden:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.62);
}

body .howto-list li {
    width: 150px;
}

.header-mobile {
    display: none;
}

.menu-m {
    display: none;
}

.sidebar-wrap {
    display: block;
}

body .sidebar-show {
    width: 90%;

    font-size: 18px;
    margin: 0 auto 20px auto;
    display: none;
}
#lightbox-nav-btnPrev {
    height: 100% !important;
}

#lightbox-nav-btnNext {
    height: 100% !important;
}

#lightbox-secNav-btnClose {
    height: 30px;
}
@media (max-width: 1280px) {
    .banner-img {
        max-width: 570px;
        width: 45%;
    }

    .banner-content {
        max-width: 570px;
        width: 50%;
    }

    .howto-list {
        padding: 0;
    }

    body .howto-list li {
        width: 14%;
    }

    .banner-img img {
        width: 100%;
    }

    .banner-content .h1, .banner-content h1 {
        margin-bottom: 15px;
    }

    body nav .top-nav a {
        font-size: 12px;
    }

    body nav .top-nav {
        padding: 0 30px;
    }

    .header-row {
        font-size: 14px;
    }
}

@media (max-width: 1220px) {
    /*header {*/
    /*display: none;*/
    /*}*/
    /*footer {*/
    /*display: none;*/
    /*}*/
    .container {
        max-width: none;
        width: 100%;
        padding: 0 15px;
    }

    html {

        min-width: 100%;
        width: 100%;
    }

    .caroufredsel_wrapper {
        width: 100% !important;
    }

    p img {
        max-width: 100%;
        height: auto;
    }

    .carousel-article-list li {
        width: calc(89% / 4);
    }

    p .size-full {
        max-width: 100% !important;
        height: auto !important;
    }

    .gsInformer {
        max-width: 100% !important;
    }

    .caroufredsel_wrapper .media {
        width: 85%;
        margin: 0 auto;
    }

    .howto-list li {
        width: 14%;
    }
}

@media (max-width: 1024px) {

    table {
        overflow-x: auto;
        display: block;
    }

    .scroll-container {
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .home .stm-header {
        height: auto;
    }

    .col-md-9 {
        width: 100%;
    }

    .btn-close-sidebar {
        position: absolute;
        right: -1px;
        background: #fb7501;
        height: 30px;
        width: 31px;
        z-index: 9999;
        top: 0;
    }

    .closer {
        height: 2px;
        width: 20px;
        background: #fff;
        display: inline-block;
        position: absolute;
        left: 6px;
        top: 12px;
    }

    .closer-1 {
        transform: rotate(45deg);
    }

    .closer-2 {
        transform: rotate(-45deg);
    }

    .section-articles {
        display: none;
    }

    body .sidebar-show {
        display: block;
    }

    .header-desktop {
        display: none;
    }

    .h2 span, h2 span {
        word-break: break-all;
    }

    .h2, h2 {
        font-size: 24px;
    }

    .testimonials-form-wrap .col-xs-5 {
        width: 100%;
    }

    .testimonials-form-wrap .col-xs-10 {
        width: 100%;
    }

    .conts-block .conts-block-row {
        width: 100%;
    }

    .sidebar-wrap {
        position: fixed;
        top: 0;
        left: -130%;
        background: #fff;
        z-index: 100;
        overflow-y: scroll;
        height: 100%;
        display: block;
        transition: .5s;
        padding: 45px 15px 15px 15px;

    }

    .sidebar-wrap.active {
        left: 0;
    }

    body .howto-list li {
        width: 100%;
    }

    .footer-menu {
        display: none;
    }

    footer .col-xs-3 {
        width: 100%;
        text-align: center;
    }

    .footer-addr {
        width: 70%;
        margin: 0 auto;
    }

    .footer-phone {
        margin: 0 auto;
        width: 70%;
    }

    footer .socials-list {
        display: flex;
        justify-content: center;
    }

    .banner-content .btn-lg {
        width: 100%;
    }

    .footer-copyright {
        text-align: center;
    }

    .footer-copyright .pull-left {
        float: none;
        width: 100%;
    }

    .banner-img {
        max-width: none;
        width: 100%;
    }

    .banner-content {
        max-width: none;
        width: 100%;
        margin: 60px 0 30px 0;
    }

    .spec-icon-tel {
        background-position: -43px -31px;
        width: 13px;
        height: 13px;
    }

    .spec-icon-mail {
        background-position: -59px -27px;
        width: 13px;
        height: 15px;

    }

    .spec-icon {
        margin: 0 5px 0 0;
        background-image: url(../img/icons.png);
        background-repeat: no-repeat;
        display: inline-block;
    }

    .location {
        display: flex;
        justify-content: space-between;
        padding: 10px 15px 0 15px;
        margin: 0 0 15px 0;
    }

    .location-line {
        height: 1px;
        background: rgba(66, 133, 0, 0.5);

        width: 90%;
        margin: 0 auto;
    }

    .location a {
        font-weight: 300;
        color: #428500;
        text-decoration: none;
    }

    .location a:hover {

        text-decoration: none;
    }

    .header-mobile {
        display: block;
    }

    .burger {
        display: flex;
        align-items: center;
    }

    .burger.active .burger-box {
        transition: .2s;
    }

    .burger.active .burger__line-2 {
        opacity: 0;

    }

    .header-m-contacts {
        padding: 0 15px;

    }

    .header-m-contacts a {
        display: block;
        background: #428500;
        color: #fff;
        text-decoration: none;
        text-align: center;
        border-radius: 5px;
        padding: 6px 0;
        margin: 0 0 5px 0;
        font-size: 18px;
    }

    .header-m-contacts a:hover {
        text-decoration: none;
    }

    .burger.active .burger__line-1 {
        transform: rotate(45deg);
        top: 7px;

    }

    .burger.active .burger__line-3 {
        transform: rotate(-45deg);
        top: 7px;

    }

    .logo-m {
        text-align: center;
        padding: 30px 15px;
    }

    .header__tel {
        background-position: -20px -18px;
        width: 20px;
        height: 20px;
    }

    .header__calc {
        background-position: -21px -39px;
        width: 18px;
        height: 21px;
    }

    .header__link {
        background-image: url(../img/icons.png);
        background-repeat: no-repeat;
        display: inline-block;
        margin-right: 20px;
    }

    .header__link:last-child {
        margin: 0;
    }

    .menu-m {
        background: #428500;
        position: fixed;
        height: 100%;
        width: 100%;
        transition: .5s;
        z-index: 200;
        left: -100%;
        opacity: 0;
        display: block;
        top: 50px;
    }

    .menu-m.active {

        opacity: 1;
        left: 0;
    }

    .menu-m a {
        color: #fff;
    }

    .menu-m .top-nav {
        background: transparent;
        padding: 0;
        margin: 0;
    }

    .menu-m .top-nav li {
        margin: 0;
        padding: 0;
        border-left: none;
        float: none;
        width: 100%;
    }

    .menu-m .top-nav li:before {
        display: none;
    }

    .menu-m .top-nav li a {
        padding: 5px 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        display: block;
        text-align: center;
    }

    .menu-m .top-nav li a:hover {
        text-decoration: none;
    }

    .burger-box {

        width: 22px;
        height: 17px;
        position: relative;
        margin: 0 10px 0 0;
    }

    .burger__line {
        position: absolute;
        transition: .2s;
        width: 22px;
        height: 2px;
        background: #fff;

    }

    .burger__line-1 {
        top: 0;

    }

    .burger__line-2 {
        top: 7px;

    }

    .burger__line-3 {
        top: 14px;

    }

    .header-m {
        padding: 0 15px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
    }

    .header-m a {
        color: #fff;
        text-decoration: none;

    }

    body header.stm-header {
        padding-top: 0;
    }

    .header-m {
        background: linear-gradient(to bottom, #96c600 0%, #428500 100%);
    }

    .carousel-article-list li {
        float: none;
        width: 100%;
        margin: 0 0 20px 0;

    }

    .carousel-article-list li + li {

        margin-left: 0;
    }

    .st-block-header-title {
        display: block;
        font-size: 24px;
    }

    .h1, h1 {
        font-size: 24px;
    }

    .one_half {
        width: 100%;
        float: none;
        padding: 0;
    }

    .howto-list li:after {
        display: none;
    }

    .howto-list li:nth-child(2n) {
        margin: 0 0 30px 0;
    }

    .howto-list {
        padding: 0;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .howto-list li {
        width: 50%;
        float: none;
        margin: 0 0 30px 0;
    }

    .media-body {
        display: block;
        padding-top: 15px;
    }

    .container.page-part .row {
        margin: 0;
    }

    .single-thumb {
        width: 100%;
    }

    #clcFence .col-md-12 {
        overflow-x: scroll;
        overflow-y: hidden;
        width: 100%;
    }

    #clcFence .container-fluid {
        padding: 0;

    }

    #clcFence .col-md-4 {
        padding: 0 !important;
    }

    #clcFence .col-md-8 {
        border: none !important;
        padding: 0 !important;
    }

    #clcFence .btn {
        float: left !important;
        margin-bottom: 10px;
    }

    img.alignleft {
        float: none;
        margin: 0 auto 10px auto;
        display: block;
    }

    .modal {
        width: 100%;
        left: auto;
        right: auto;
    }

    .modal-dialog-md {
        width: 95%;
        margin: 0 auto;
    }

    .modal-dialog-md .btn {
        width: 100%;
    }

    .modal-dialog-md input {
        width: 100%;
    }

}

@media (max-width: 414px) {
    html body .gallery-item {
        float: none !important;
    }

    body .works-list li {
        width: 100%;
    }



    .closer {
        left: 6px;
        top: 18px;
        width: 30px;

    }

    .btn-close-sidebar {
        width: 40px;
        height: 40px;
    }

    #lightbox-container-image-box {
        height: 250px !important;
    }

    #lightbox-container-image img {
        height: 250px !important;
    }

    #lightbox-loading-link img {
        height: auto !important;
    }

    body .works-list li img {
        width: 100%;
    }

    body .reasons-list li {
        width: 100%;
    }

    .caroufredsel_wrapper .media {
        width: 100%;
        margin: 0 0 10px 0;
    }

    .testimonials-list .media-left {
        float: none;
    }

    body .carousel-testimonials-list {
        width: 100% !important;
    }

    .single-thumb img {
        height: auto;
    }
}