@mixin bg-gradient($begin_color, $end_color) {
  background: $begin_color;
  background: -moz-linear-gradient(top, $begin_color 0%, $end_color 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $begin_color), color-stop(100%, $end_color));
  background: -webkit-linear-gradient(top, $begin_color 0%, $end_color 100%);
  background: -o-linear-gradient(top, $begin_color 0%, $end_color 100%);
  background: -ms-linear-gradient(top, $begin_color 0%, $end_color 100%);
  background: linear-gradient(to bottom, $begin_color 0%, $end_color 100%);
}

@mixin bg-gradient-radial {
  background: rgb(233, 243, 212);
  background: -moz-radial-gradient(center, ellipse cover, rgba(233, 243, 212, 1) 0%, rgba(209, 230, 172, 1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(233, 243, 212, 1)), color-stop(100%, rgba(209, 230, 172, 1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(233, 243, 212, 1) 0%, rgba(209, 230, 172, 1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(233, 243, 212, 1) 0%, rgba(209, 230, 172, 1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(233, 243, 212, 1) 0%, rgba(209, 230, 172, 1) 100%);
  background: radial-gradient(ellipse at center, rgba(233, 243, 212, 1) 0%, rgba(209, 230, 172, 1) 100%);
}

.bg-gradientblock {
  position: relative;
  padding: 40px 0;
}

@mixin beforeafter() {
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    top: -2px;
  }
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 12px;
    left: 0;
    bottom: 0px;
  }
}

$carousel_width: 270px;
$carousel_width2: 160px;
$carousel_width3: 235px;
$dividerHeight: 11px;
$itemsGap: 29px;
$path: "../img/";

a {
  color: #0e7ec0;
  text-decoration: underline;
  &:hover {
    color: #fb7401;
  }

}

body {
  font-size: 16px;
  font-family: 'Roman';
  color: #3c3c3c;
}

html {
  min-width: 1200px;
}

.header-block-title {
  color: #666;
  margin-bottom: 3px;
}

.top-nav li, .carousel-article-list li, .front-fence-list li, .carousel-additional-list li, .carousel-work-list li, .carousel-testimonials-list li, .footer-menu li, .socials-list li {
  float: left;
}

.front-fence-list li {
  width: $carousel_width2;
  margin: 0 20px;
  margin-bottom: 50px;
  a {
    display: block;
    text-align: center;
    color: #000;
    &:hover {
      color: #fb7401;
    }
  }
}

.carousel-article-list li {
  width: $carousel_width;
}

.carousel-work-list {
  li {
    width: $carousel_width3;
  }
}

.carousel-additional-list li, .carousel-work-list li {
  @extend .carousel-work-list;
  margin: 0 15px;
}

.carousel-additional-list li {
  margin-bottom: 25px;
}

.top-nav-list {
  li + li {
    position: relative;
    padding-left: $itemsGap;
    margin-left: $itemsGap;
  }

  li + li:before {
    content: "";
    width: 1px;
    height: $dividerHeight;
    background: #a2d125;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: (($dividerHeight/2)*(-1));
  }

  li a {
    font-size: 15px;
    color: #FFF;
    text-transform: uppercase;
    font-family: 'Medium';
    text-shadow: 0 2px 0 #518300;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

}

.top-nav {
  width: 100%;
  height: 50px;
  line-height: 50px;
  @include bg-gradient(#96c600, #428500);
  margin-bottom: 0;
  padding: 0px 50px;
  border-radius: 5px;
  margin-bottom: 15px;
  @extend .top-nav-list;
}

.home .stm-header {
  height: 550px;
  background: #f3f3f3 url("#{$path}gate2.jpg") left bottom no-repeat;
  margin-bottom: 43px;
}

.stm-header {
  padding-top: 19px;
  margin-bottom: 20px;
}

.header-row {
  margin-top: 11px;
  margin-bottom: 25px;
}

.header-phone {
  font-size: 24px;
  position: relative;
  top: -4px;
}

.row_height {
  height: 26px;
  font-family: Medium;
}

.ffm {
  font-family: Medium;
}

.header-contacts, .header-email {
  position: relative;
}

.header-contacts:before {
  content: url("#{$path}map.png");
  position: absolute;
  left: -20px;
  top: 1px;
}

.header-email:before {
  content: url("#{$path}mail.png");
  position: absolute;
  left: -21px;
  top: -1px;
}

.st-logo {
  display: block;
  margin-left: 13px;
}

.banner-img {
  width: 570px;
}

.banner-content {
  width: 570px;
  margin-top: 23px;
}

h1, .h1 {
  font-weight: normal;
  font-size: 36px;
  color: #a55f3b;
  font-family: Light;
  margin-top: 0;
  margin-bottom: 30px;
}

h4, .h4 {
  font-weight: normal;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 22px;
}

h3, .h3 {
  font-weight: normal;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 15px;
  line-height: 22px;
  font-family: Bolds;
}

.st-block-header {
  margin-bottom: 40px;
}

.st-block-header-title {
  margin-right: 4px;
}

.link-to-archive {
  position: relative;
}

.link-to-archive:after {
  content: url("#{$path}alllink.png");
  position: absolute;
  right: -17px;
  top: 0;
}

.fence-slider-img {
  margin-bottom: 11px;
}

.carousel-relative-wrapper {
  position: relative;
}

.fancybox-prev span {
  width: 37px;
  height: 123px;
  background: url("#{$path}fredcontrols2.png") left top no-repeat;
  position: absolute;
  left: -34px;
  top: 160px;
  z-index: 100;
  visibility: visible !important;
  &:hover {
    background-position: 0 -246px;
  }
}
.fancybox-next span {
  width: 37px;
  height: 123px;
  background: url("#{$path}fredcontrols2.png") left -123px no-repeat;
  position: absolute;
  right: -34px;
  top: 160px;
  z-index: 100;
  visibility: visible !important;
  &:hover {
    background-position: 0 bottom;
  }
}

.fred-prev {
  width: 37px;
  height: 123px;
  background: url("#{$path}fredcontrols2.png") left top no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  &:hover {
    background-position: 0 -246px;
  }
}

.fred-next {
  width: 37px;
  height: 123px;
  background: url("#{$path}fredcontrols2.png") left -123px no-repeat;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
  &:hover {
    background-position: 0 bottom;
  }
}

.bg-type2 {
  @include bg-gradient(#c0db8b, #d8eab1);
  @include beforeafter();
  @extend .bg-gradientblock;
  &:before {
    background: #c9d89d;
  }
  &:after {
    background: url("#{$path}zigzag.png");
  }
}

.carousel-additional-list-img {
  display: block;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 12px;
}

.carousel-relative-wrapper .caroufredsel_wrapper {
  margin: 0 auto !important;
}

.reasons-list {
  counter-reset: point;
  li:nth-child(2n+1) {
    clear: both;
  }
  li {
    margin-bottom: 40px;
  }
  li:before {
    content: counter(point);
    counter-increment: point 1;
    position: absolute;
    left: 4px;
    top: 23px;
    color: #e8f3d3;
    font-size: 100px;
    font-family: Bolds;
    z-index: -1;
  }
  .media-left {
    padding-right: 30px;
    padding-left: 25px;
  }
  .media-body {
    vertical-align: middle;
  }
  .media-heading {
    margin-top: 14px;
    margin-bottom: 0;
  }
}

.rounded-img {
  width: 130px;
  height: 130px;
  border: 2px solid #f7ce6f;
  border-radius: 500px;
  font-size: 0;
  text-align: center;
  line-height: 126px;
  background: #FFF;
  img {
    vert-align: middle;
  }
}

.bg-type3 {
  @include bg-gradient(#e1e0a9, #ebeac2);
  @include beforeafter();
  @extend .bg-gradientblock;
  &:before {
    background: #e1e0a9;
  }
  &:after {
    background: url("#{$path}zigzag.png");
  }
}

.carousel-work-list-img {
  @extend .carousel-additional-list-img;
  position: relative;
  &:hover .pic-overlay {
    display: block;
  }
}

.pic-overlay {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(#836150, 0.8);
  &:before {
    position: absolute;
    content: url("#{$path}eye.png");
    left: 50%;
    top: 50%;
    margin-top: -12px;
    margin-left: -17px;
    display: block;
  }
}

.carousel-article-list {
  li + li {
    margin-left: 30px;
  }
}

.carousel-article-list-img {
  @extend .carousel-additional-list-img;
}

.carousel-article-list-title {
  margin-bottom: 10px;
  a {
    text-decoration: underline;
    font-size: 18px;
  }
}

.carousel-article-list-content {
  color: #666666;
  line-height: 24px;
}

.stm-footer {
  @extend .bg-gradientblock;
  @include bg-gradient-radial;
  position: absolute;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 12px;
    left: 0;
    top: -1px;
    background: url("#{$path}zigzag.png");
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  }
}

.footer-menu {
  @extend .top-nav-list;
  li {
    a {
      color: #0e7ec0;
      text-shadow: none;
      font-size: 16px;
      font-family: Roman;
      text-transform: none;
    }
  }
}

.footer-menu {
  margin-bottom: 41px;
}

.footer-nav {
  margin-bottom: 36px;
  li {
    line-height: 18px;
    margin-bottom: 12px;
    a {
      font-size: 15px;
    }
  }
}

.footer-copyright {
  color: #646464;
  font-size: 14px;
  line-height: 24px;
  position: relative;
}

.btn-up {
  text-decoration: none !important;
  text-align: center;
  width: 40px;
  color: #3c3c3c;
  display: block;
  width: 60px;
  position: absolute;
  right: 0;
  top: -100px;
}

.btn-up-img {
background: url("#{$path}up.png");
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.footer-contacts-block {
  font-size: 15px;
}

.footer-phone, .footer-addr, .footer-map {
  padding-left: 20px;
  position: relative;
}

.footer-phone {
  margin-bottom: 8px;
  &:before {
    content: url("#{$path}phone.png");
    position: absolute;
    left: 0;
    top: 0;
  }
}

.footer-addr {
  margin-bottom: 3px;
  &:before {
    content: url("#{$path}addr.png");
    position: absolute;
    left: 2px;
    top: 0;
  }
}

.socials-list {
  li + li {
    margin-left: 10px;
  }
  a {
    display: block;
    text-indent: -9999px;
    border: 2px solid #fdae00;
    width: 40px;
    height: 40px;
    border-radius: 500px;
    &:hover {
      border-color: #a0dc25;
    }
  }
}

.social_rss {
  background: url("#{$path}rss.png") center center no-repeat;
}

.social_facebook {
  background: url("#{$path}f.png") center center no-repeat;
}

.social_twitter {
  background: url("#{$path}tw.png") center center no-repeat;
}

.social_vk {
  background: url("#{$path}vk.png") center center no-repeat;
}

.archive-list li {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 30px;
  margin-bottom: 30px;
  .media-left {
    padding-right: 30px;
  }
  .media-content {
    color: #666;
  }
}

.archive-img-wrap {
  @extend .carousel-additional-list-img;
  margin-bottom: 0;
}

.sidebar-type1 {
  background: #e4e3b2;
  border-radius: 5px 5px 0 0;
  position: relative;
  padding: 30px;
  padding-top: 26px;
  padding-bottom: 15px;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 12px;
    left: 0;
    bottom: 0px;
    background: url("#{$path}zigzag.png");
  }
}

img.alignleft {
  float: left;
  margin-right: 30px;
}

.one_half {
  width: 50%;
  float: left;
  padding: 0 15px;
}

.clear {
  clear: both;
}

.list-custom-styled {
  li {
    margin-bottom: 7px;
    padding-left: 18px;
    list-style: none;
    color: #666;
    position: relative;
    &:before {
      content: url("#{$path}bullet.png");
      position: absolute;
      left: 3px;
      top: -2px;
    }
  }
}

.page-part, {
  h4 {
    margin-bottom: 16px;
  }
  p {
    color: #666;
    margin-bottom: 32px;
  }
  ul {
    padding: 0;
    li {
      margin-bottom: 7px;
      padding-left: 18px;
      list-style: none;
      color: #666;
      position: relative;
      &:before {
        content: url("#{$path}bullet.png");
        position: absolute;
        left: 3px;
        top: -2px;
      }
    }
  }
}

.zigzag-line {
  height: 13px;
  background: url("#{$path}zigzag2.jpg");
  margin-bottom: 34px;
}

.testimonial-thumb {
  width: 235px;
  height: 180px;
  background: url("#{$path}none.jpg");
  border-radius: 5px;
  overflow: hidden;
}

.testimonials-list {
  li {
    border-bottom: 0;
  }
  .media-left {
    padding-right: 30px;
  }
  .media-content {
    color: #666;
    border-bottom: 1px solid #d1d1d1;
    line-height: 24px;
    padding-bottom: 13px;
    margin-bottom: 27px;
  }
  .media-heading {
    margin-bottom: 4px;
  }
}

.carousel-testimonials-list li {
  width: 1030px;
  margin-bottom: 34px;
}

.howto-img {
  width: 130px;
  height: 130px;
  border: 2px solid #a0dc25;
  border-radius: 500px;
  font-size: 0;
  line-height: 130px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 12px;
}

.howto-title {
  text-align: center;
}

.howto-list {
  padding: 0 90px;
  li {
    width: 158px;
    float: left;
    margin: 0 20px;
    position: relative;
  }

  li:nth-child(2n-1) {
    &:after {
      content: url("#{$path}steparrow.png");
      position: absolute;
      right: -41px;
      top: 122px;
    }
  }

  li:nth-child(2n) {
    margin-top: 150px;
    &:after {
      content: url("#{$path}steparrow2.png");
      position: absolute;
      right: -43px;
      top: -27px;
    }
  }
  li:last-child {
    &:after {
      display: none;
    }
  }
}

.fred-prv2, .fred-nxt2 {
  top: 12px;
}

.fred-prv3, .fred-nxt3, .fred-prv4, .fred-nxt4 {
  top: 29px;
}

.carousel-additional-list-title {
  font-size: 18px;
  color: #000;
}

.btn {
  @include bg-gradient(#fdb700, #fb7501);
  color: #FFF !important;
  border: 0;
  border-radius: 5px;
  text-shadow: 0 1px 0 #d16700;
  text-decoration: none;
  &:hover {
    color: #FFF;
    @include bg-gradient(#fb7501, #fdb700);
  }
}

.btn-lg {
  font-family: 'Bolds';
  font-size: 20px;
}

.calc-ico {
  display: inline-block;
  background: url("#{$path}calc.png");
  width: 22px;
  height: 32px;
  vertical-align: middle;
  margin-right: 12px;
}

.fence-ico {
  display: inline-block;
  background: url("#{$path}fence.png");
  width: 27px;
  height: 32px;
  vertical-align: middle;
  margin-right: 17px;
}

.ar-ico {
  display: inline-block;
  background: url("#{$path}btnarr.png");
  width: 16px;
  height: 11px;
  vertical-align: middle;
  margin-left: 17px;
}

.banner-content-text {
  margin-bottom: 28px;
}

.bg-block1 {
  padding-bottom: 57px;
  margin-bottom: 37px;
}

.bg-block2 {
  padding-bottom: 57px;
  margin-bottom: 49px;
}

.h1marg {
  margin-bottom: 43px;
}

.page-part {
  margin-bottom: 26px;
}

.line-marg {
  margin-top: 44px;
  margin-bottom: 27px;
}

.header-calcbtn {
  padding: 0;
  height: 50px;
  line-height: 50px;
  display: block;
  text-align: center;
}

.breadcrumbs {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 13px;
  margin-bottom: 16px;
  li + li {
    background: url("#{$path}crumb.png") left center no-repeat;
    margin-left: 14px;
    padding-left: 20px;
  }
  li {
    float: left;
    font-size: 15px;
    color: #666666;
    a {
      text-decoration: underline;
    }
  }
}

.sidebar-wrapper {
  border-top: 1px solid #dfdeb6;
  border-radius: 5px;
  padding-top: 1px;
  margin-bottom: 30px;
}

.archiv-fences-list {
  li {
    .media-left {
      padding-left: 9px;
      padding-right: 53px;
    }
    .media-heading {
      margin-bottom: 10px;
    }
    .media-content {
      line-height: 24px;
    }
  }

}

.title-inner-marg {
  margin-bottom: 20px;
}

.sidebar-title {
  margin-bottom: 15px;
  a {
    color: #000;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.sidebar-list {
  margin-bottom: 1px;
  li {
    margin-bottom: 14px;
    a {
      text-decoration: none;
      color: #000;
      &:hover {
        color: #fb7401;
      }
    }
  }

}

.btn-block {
  display: block;
}

.sidebar-calc-wrap {
  margin-bottom: 27px;
}

.ad-list {
  margin-bottom: 20px;
  li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 14px;
    &:before {
      content: url('#{$path}c.png');
      position: absolute;
      left: 8px;
      top: 0;
    }
  }
}

.add-title {
  a {
    color: #000;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.add-img-wrap {
  border-radius: 5px;
  overflow: hidden;
}

.meteo-block {
  margin-bottom: 50px;
}

.works-list {
  li {
    margin-bottom: 30px;
    a {
      display: block;
      border-radius: 5px;
      overflow: hidden;
    }
  }
}

.works-single-content {
  width: 630px;
  margin: 0 auto;
}

.works-single-content-wrap {
  width: 680px;
  margin: 0 auto;
}

.works-single-img {
  margin-bottom: 20px;
  img {
    display: block;
    max-width: 100%;
  }
}

.works-single-content {
  color: #666;
}

.g-map {
  width: 100%;
  height: 440px;
  border: 1px solid #dfdfdf;
  iframe {
    width: 100% !important;
    height: 440px !important;
  }
}

.conts-block {
  padding-bottom: 20px;
  .header-email {
    margin-left: 21px;
  }
}

.conts-block-row {
  margin-bottom: 22px;
}

.works-single-title {
  color: #000;
}

.single-thumb {
  margin-right: 30px;
  margin-bottom: 10px;
}

.page-template-template-prices-php {
  table {
    width: 100%;
    td {
      padding: 8px 16px;
      color: #666;
    }
    tr td:first-child {
      background: #e1f1d5;
      color: #000;
    }
    tr:first-child td {
      background: #e1f1d5;
      border-bottom: 1px solid #FFF;
      color: #000;
    }
  }
}


  table { 
    width: 100%;
    td {
      padding: 8px 16px;
      color: #666;
    }
    tr td:first-child {
      background: #e1f1d5;
      color: #000;
    }
    tr:first-child td {
      background: #e1f1d5;
      border-bottom: 1px solid #FFF;
      color: #000;
    }
  }



.single-articles-content img {
  border-radius: 5px;
}


.single-thumb-additional img {
  border-radius: 5px;
}


.fancybox-close {
  background: url("#{$path}x.png");
  width: 16px;
  height: 16px;
  display: block;
  top: 18px;
  right: 18px;
}

.modal-dialog-md {
  width: 430px;
}

.form-control {
  border: 1px solid #c6d8a2;
  box-shadow: none;
  height: 40px;
  padding: 0 10px;
}

.hiddendiv {
  display: none;
}

.modal-header {
  border: 0;
}

.modal-title {
border-bottom:1px solid #e0e2db;
  padding-bottom: 10px;
}

.modal-header {
  padding-left: 30px; padding-right: 30px; padding-top: 21px;
}

.modal-body {
  padding-left: 30px; padding-right: 30px; padding-top: 1px;
}

.wpcf7-form .form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: normal;
  font-size: 18px;
}

.modal-body br {
  display: none;
}

.select2-container .select2-choice {
  border: 1px solid #c6d8a2;
  height: 40px;
  line-height: 38px;
  background: none;
}

.select2-container .select2-choice .select2-arrow {
  border-left:1px solid #c6d8a2;
  width: 40px;
  background: none;
}

.select2-container-active .select2-choice, .select2-container-active .select2-choices {
  box-shadow: none;
}

.select2-container .select2-choice .select2-arrow b {
background: url("#{$path}sar.png") center center no-repeat;
}

.select2-drop-active {
  border-color: #c6d8a2;
}

input[type="radio"] {
  position: relative;
  &:before {
    width: 10px;
    height: 10px;
    position: relative;
    background: red;
    content: "";
  }
}


 span.wpcf7-list-item {
   margin: 0;
   margin-right: 10px;
   input[type=radio] {
     display: none;
     &:checked+span:before {
       background: url("#{$path}radio.png") 0 bottom;
     }
     +span {
       position: relative;
       &:before {
         content: '';
         width: 15px;
         height: 15px;
         background: url("#{$path}radio.png") 0 0;
         display: inline-block;
         margin-right: 10px;
         position: relative;
         top: 1px;
       }
     }
   }
   display: inline-block;
 }

.modal .wpcf7-response-output {
  display: none !important;
}

.wpcf7-response-output {
  margin-left: 0;
}

.err-title {
  border-bottom: 1px solid #e8e8e8;
  font-size: 36px;
  font-family: Light;
  margin-top: 6px; padding-bottom: 18px; margin-bottom: 33px;
}

.err-img {
  margin-top: 35px;
}

.err-t2 {
  margin-bottom: 29px;
}

.err-t3 {
  margin-bottom: 18px;
}

.pagination_wrap {
  text-align: center;
  ul {
    list-style: none;
    display: inline-block;
    li {
      &.disabled {
        display: none;
      }
      margin: 0 5px;
      display: inline-block;
      span {
        color: #666;
      }
    }
  }
}

.form-text {
  height: 120px !important;
  padding-top: 10px;
}

.testimonials-form-block {
  border-top: 1px solid #e8e8e8;
  padding-top: 40px;
  .h1 {
    color: #3c3c3c;
  }
}

.testimonials-list {
  .media-left {
    display: block;
    float: left;
  }
  .media-body {
    display: block;
    overflow: hidden;
  }
}

div.pagination {
  display: block;
}

.fred-prv5, .fred-nxt5 {
  top: 26px;
}

.filetype-wrapper {
  position: relative;
  margin-bottom: 4px;
}

.type-file {
  display: none !important;
}

.file-btn {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 16px;
  padding: 0 24px;
  border-radius: 5px;
  z-index: 5;
  display: inline-block;
  height: 34px;
  line-height: 34px;
  color: #666 !important;
  text-decoration: none !important;
  @include bg-gradient(#FFF, #dcdcdc);
  &:hover {
    @include bg-gradient(#dcdcdc, #FFF);
  }
}

.file-value {
  position: absolute;
  width: 244px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
  height: 38px;
  line-height: 38px;
  z-index: 4;
  left: 0;
  top: 0;
}

.allowed-text {
  font-size: 14px;
  color: #646464;
}

.testimonials-form-block {
  .wpcf7-response-output {
    margin-left: 0;
    border: 0;
  }
}


.has-error {
  border-color: red !important;
}

.testimonials-form-wrap .has-error+.wpcf7-not-valid-tip {
  display: block;
}

.testimonials-form-wrap .wpcf7-not-valid-tip {
  display: none;
}

.conts-block-row a {
  text-decoration: none;
}

.sitemap-list li {
  margin-bottom: 10px;
}




















